/* footer.css */
.footer-full-width {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw; /* Ensure full viewport width */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #130443;
    z-index: 10;
  }
  